In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    "free":[0,1,1,2],
    "win":[0,0,1,1],
    "spam":[0,0,1,1]
}

In [4]:
df = pd.DataFrame(data)
df

   free  win  spam
0     0    0     0
1     1    0     0
2     1    1     1
3     2    1     1

In [7]:
X = df[["free","win"]]
y = df["spam"]

In [9]:
X

   free  win
0     0    0
1     1    0
2     1    1
3     2    1

In [10]:
y

0    0
1    0
2    1
3    1
Name: spam, dtype: int64

In [11]:
w1 = 1.5   # weight for 'free'
w2 = 2.0   # weight for 'win'
b  = -2.0  # bias

In [12]:
# Linear Equation(z)
df["z"] = w1*df["free"] + w2*df["win"]+b
df

   free  win  spam    z
0     0    0     0 -2.0
1     1    0     0 -0.5
2     1    1     1  1.5
3     2    1     1  3.0

In [13]:
# Sigmmoid function
def sigmoid(z):
    return 1/(1+np.exp(-z))

In [14]:
df["probability"] = sigmoid(df["z"])
df

   free  win  spam    z  probability
0     0    0     0 -2.0     0.119203
1     1    0     0 -0.5     0.377541
2     1    1     1  1.5     0.817574
3     2    1     1  3.0     0.952574

In [16]:
# Predication Using Threshold
df["prediction"] = (df["probability"] >= 0.5).astype(int)

In [17]:
df

   free  win  spam    z  probability  prediction
0     0    0     0 -2.0     0.119203           0
1     1    0     0 -0.5     0.377541           0
2     1    1     1  1.5     0.817574           1
3     2    1     1  3.0     0.952574           1